<div class="col-md-3 user-grid-item">
  <div class="row m-t">
    <div class="col-md-5">
      <%= profile_image(:small, {}, user) %>
    </div>
    <div class="col-md-7 text-right">
      <% if !current_user.blank? && current_user.can_follow?(user) %>
        <%= link_to follow_user_path(user.username), class: "btn btn-default", style: "color: #676a6c;", disable_with: t('users.disable_following') do %>
          <i class="fa fa-user-plus"></i>
          <%=t('users.follow')%>
        <% end %>
      <% elsif !current_user.blank? && current_user.following?(user) %>
        <%= link_to unfollow_user_path(user.username), class: "btn btn-success", disable_with: t('users.disable_following') do %>
          <i class="fa fa-user-times"></i>
          <%=t('users.unfollow')%>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12 m-b" style="padding-left: 0 !important;">
    <h2 id="profile-name" class="font-bold no-margins"><%=user.name%></h2>
    <small id="profile-username">@<%=user.username%></small>
  </div>
</div>
