<div class="row">
  <div class="col-lg-3 m-b">
    <div class="widget-head-color-box navy-bg p-lg text-center">
      <%= profile_image(:default, {}, @user, true) %>
      <%= simple_form_for(@user, html: { multipart: true, style: "height: 0px;" }) do |f| %>
        <%= f.input :avatar, as: :file, wrapper_html: { style: "visibility: hidden;" } %>
        <%= f.submit "Atualizar", id: "send_avatar_btn", style: "visibility: hidden;" %>
      <% end %>
      <div class="m-b-xs">
        <h2 id="profile-name" class="font-bold no-margins"><%=@user.name%></h2>
        <small id="profile-username">@<%=@user.username%></small>
      </div>
      <div class="m-b-xs">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;
        Juntou-se em <%= l @user.created_at, format: :default %>
      </div>
      <% if !current_user.blank? && current_user.can_follow?(@user) %>
        <div class="row">
          <%= link_to follow_user_path(@user.username), class: "btn btn-default", style: "color: #676a6c;" do %>
            <i class="fa fa-user-plus"></i>
            Seguir
          <% end %>
        </div>
      <% elsif !current_user.blank? && current_user.following?(@user) %>
        <div class="row">
          <%= link_to unfollow_user_path(@user.username), class: "btn btn-success" do %>
            <i class="fa fa-user-times"></i>
            Deixar de seguir
          <% end %>
        </div>
      <% end %>
      <div class="row m-t-xs"">
        <div class="col-xs-4">Postagens</div>
        <div class="col-xs-4">Seguindo</div>
        <div class="col-xs-4">Seguidores</div>
      </div>
      <div class="row">
        <div class="col-xs-4"><%= @user.posts.length %></div>
        <div class="col-xs-4"><%= @user.followeds.length %></div>
        <div class="col-xs-4"><%= @user.followers.length %></div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="chat-activity-list posts">
          <% if @posts.blank? %>
            <div class="text-center empty">
              <h1><%=@user.name%> ainda não fez nenhuma Postagem :(</h1>
            </div>
          <% else %>
            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

