<div class="row">
  <div class="col-lg-3 m-b">
    <div class="widget-head-color-box navy-bg p-lg text-center">
      <%= profile_image %>
      <div class="m-b-md">
        <h2 class="font-bold no-margins"><%=current_user.name%></h2>
        <small>@<%=current_user.username%></small>
      </div>
      <div class="row">
        <div class="col-xs-4">Postagens</div>
        <div class="col-xs-4">Seguindo</div>
        <div class="col-xs-4">Seguidores</div>
      </div>
      <div class="row">
        <div class="col-xs-4">100</div>
        <div class="col-xs-4">350</div>
        <div class="col-xs-4">610</div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="chat-form" style="margin: 0px auto; width: 60%;">
      <div class="col-xs-2" style="width: 75px !important;">
        <%= profile_image(:small, {float: 'left !important', "margin-right": "15px" }) %>
      </div>
      <div class="col-xs-10">
        <%= render "form" %>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <% if @posts.blank? %>
          <div class="text-center">
            <h1>Você ainda não fez nenhuma Postagem :(</h1>
          </div>
        <% else %>
          <div class="chat-activity-list">
            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
