<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <i class="fa fa-reorder"></i>
          </button>
          <a href="#" class="navbar-brand">Awsome Rails Microblog</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <%= render partial: "layouts/menu_items" %>
          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <% if !current_user.blank? %>
              <li class="dropdown">
                <a style="padding-right: 0;" class="dropdown-toggle count-info" href="#" data-toggle="dropdown" aria-expanded="false">
                  <%= image_tag "default_profile.jpg", alt: "image", class: "img-circle profile-image-small" %>
                  <div class="caret" style="float: right; margin-top: 9px; margin-left: 5px;"></div>
                  <div style="float: right; padding-left: 10px;"><%= current_user.name %></div>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                  <li>
                    <%= link_to "Sair", destroy_user_session_path, method: :delete, id: "sign_out_link" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Entrar", new_user_session_path %>
              </li>
            <% end %>
          </ul>
      </div>
  </nav>
</div>
