<div class="row border-bottom white-bg">
  <nav class="navbar navbar-fixed-top global-nav" role="navigation">
      <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <i class="fa fa-reorder"></i>
          </button>
          <a href="#" class="navbar-brand">Awesome Rails Microblog</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <%= render partial: "layouts/menu_items" %>
          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <form action="/users/search" method="GET" class="navbar-form navbar-left">
              <div class="form-group" style="width: 250px;">
                <input id="search-box" class="form-control search-input" name="q" type="text" placeholder="Use :all para todos os usuários" value="<%=params[:q]%>"></input>
                <input type="submit" style="visibility: hidden; height: 0; width: 0; position: absolute;" value="Buscar">
              </div>
            </form>
            <% if !current_user.blank? %>
              <li class="dropdown">
                <a style="padding-right: 0;" class="dropdown-toggle count-info" href="#" data-toggle="dropdown" aria-expanded="false">
                  <%= profile_image :very_small, { "margin-top": "-3px" } %>
                  <div class="caret" style="float: right; margin-top: 8px; margin-left: 5px;"></div>
                  <div style="float: right; padding-left: 10px; margin-top: -1px;"><%= current_user.name %></div>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                  <li>
                    <%= link_to user_profile_path(current_user.username) do %>
                      <div>
                        <div>Ver perfil</div>
                        <div style="font-size: 12px; margin-top: -8px; color: rgb(136, 153, 166);">@<%=current_user.username%></div>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "Sair", destroy_user_session_path, method: :delete, id: "sign_out_link" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Entrar", new_user_session_path %>
              </li>
            <% end %>
          </ul>
      </div>
  </nav>
</div>
